<div
  class="crop"
  [style.width.%]="reviewWidth"
  [title]="rating"
  (click)="onClick()"
>
  <div
    style="word-wrap: normal;
    width: auto;
    overflow: hidden;
    color: #fcc82d;"
  >
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
    <span aria-hidden="true">&#9733;</span>
  </div>
</div>
