<div class="panel panel-primary">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <!-- search -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 card-title">Search:</div>
      <div class="col-md-4">
        <input [name]="listFilter" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngIf="listFilter">searching: {{ listFilter }}</div>
    </div>
    <!-- table -->
    <div class="table-responsive">
      <table *ngIf="movies.length" class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              <button (click)="toggleImage()" class="btn btn-primary">
                {{ seePoster ? "Hide" : "Show" }} poster
              </button>
            </th>
            <th *ngFor="let title of tableHeader" scope="col">{{ title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let movie of movies | movieFilter: listFilter;
              let i = index
            "
          >
            <th scope="row">
              <span *ngIf="!seePoster">{{ i + 1 }}</span>
              <img
                *ngIf="seePoster"
                [style.margin.px]="img_margin"
                [style.width.px]="img_width"
                [src]="
                  movie.poster_path
                    ? image_path + movie.poster_path
                    : image_default
                "
                [title]="movie.original_title"
              />
            </th>
            <td>{{ movie.original_title | uppercase }}</td>
            <td>{{ movie.original_language }}</td>
            <td>{{ movie.release_date | dateTransform: date_options }}</td>
            <td>
              <md-review
                [rating]="movie.popularity"
                (ratingClicked)="onRatingClicked($event)"
              ></md-review>
            </td>
            <td>{{ movie.vote_count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
